<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/cynthiouss/image/upload/v1459349235/yacht_7.png');">
  <div class="banner-content">
    <h1>SAILY TOURS</h1>
    <p>Browse our tours for <%= @country.name %> and choose your dream holiday!</p>
  </div>
</div>


<% @yachts.each do |yacht|%>
<div class="flexpart">
  <div class="card">
    <div class="top_card">
      <img src=<%= yacht.photo %> class="top_card_picture width-adapted">
    </div>
    <div class="bottom-card">
      <div class="container width-adapted">
        <div class="row text-center">
          <div class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-0">
          <img src=<%= yacht.tourphoto %> class="middle_card_picture">
          </div>
          <div class="general_trip_info text-center">
            <ul>
              <div class="col-xs-12 col-sm-2">
                <li><h3><i class="fa fa-map-marker"><br><span> <%= @country.name %> </span></i></h3></li>
              </div>
              <div class="col-xs-12 col-sm-2">
                <li class="padding_middle"><h3><i class="fa fa-users"><br><span> <%= yacht.capacity %> people</span></i></h3></li>
              </div>
              <div class="col-xs-12 col-sm-2">
                <li><h3><i class="fa fa-calendar"><br><span><%= yacht.duration %> days</span></i></h3></li>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="description">
          <p>Experience the ultimate island-hopping holiday on a yacht to <%= @country.name %>’s most popular islands</p>
        </div>
        <ol>
          <li class="text-center bouton"><%= yacht.cost_per_day * yacht.duration %> €</li>
          <li class="text-center bouton book-buton">Book this trip</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<% end %>
